---
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: {{ k8s_prometheus_custom_istio_vs_name | default("prometheus-vs") }}
  namespace: {{ k8s_prometheus_custom_istio_vs_namespace | default("default") }}
spec:
  hosts:
{% for host in k8s_prometheus_custom_istio_vs_hosts | default(["*", ]) %}
   - "{{ host }}"
{% endfor %}

  gateways:
  - {{ k8s_prometheus_custom_istio_vs_gateway | default("istio-system/istio-gateway") }}
  http:
  - route:
    - destination:
        host: "prometheus-server"
        port:
          number: 80
{% if k8s_prometheus_server_prefixURL | length > 0 %}
    match:
    - uri:
        prefix: "{{ k8s_prometheus_server_prefixURL }}"
{% endif %}
